/* .item {
  position: relative;
}
.item::before {
  content: "";
  background-color: white;
  height: 4%;
  top: 72%;
  position: absolute;
  width: 100%;
}
.item:hover::before {
  background-color: bisque;
} */
/* Global CSS for transitions */
.task-item {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.task-item.fade-in {
  opacity: 1;
  transform: scale(1);
}

.task-item.fade-out {
  opacity: 0;
  transform: translateX(-10px);
}
